.venv/

# Dataset folders and files
TC11_CROHME23/
whiteboard_data/
data/

# Json files of annotations and mappings
train_annotations.json
class_mapping.json  

# Logs, debug images, and checkpoints
output/debug_images/
output/checkpoints/
output/logs/

# Python cache files
__pycache__/
*.pyc

# helpful markdowns 
spec.md