.venv/

# Dataset folders and files
TC11_CROHME23/
whiteboard_data/
data/

# Json files of annotations and mappings
original_annotations.json
class_mapping.json  

# Logs, debug images, models, and checkpoints
output/
output/debug_images/
output/checkpoints/
output/logs/
output/models/

# Dont save results of inference
results/

# Colab and kaggle stuff
configs/config_cuda_colab.json
configs/config_cuda_kaggle.json
train_colab.ipynb
train_kaggle.ipynb

# Python cache files
__pycache__/
*.pyc

# helpful markdowns 
spec.md